.container {
  font-family: Sans-Serif;
}

.success-body {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.success-body p {
  font-size: 2em;
}

.checkmark {
  width: 80px;
}

.button {
  margin-bottom: 8px !important;
}
